<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/form-design.css">
  <title>Register Your Idea</title>
</head>

<body>
  <input id="panel-1-ctrl" class="panel-radios toggle-radio" type="radio" name="tab-radios" checked>
  <input id="panel-2-ctrl" class="panel-radios toggle-radio" type="radio" name="tab-radios">
  <input id="panel-3-ctrl" class="panel-radios toggle-radio" type="radio" name="tab-radios">
  <input id="nav-ctrl" class="panel-radios" type="checkbox" name="nav-checkbox">

  </header>

  <!-- TABS LIST -->
  <ul id="tabs-list">
    <!-- MENU TOGGLE -->
    <label id="open-nav-label" for="nav-ctrl"></label>
    <li id="li-for-panel-1">
      <label class="panel-label" for="panel-1-ctrl">Student</label>
    </li>
    <li id="li-for-panel-2">
      <label class="panel-label" for="panel-2-ctrl">Faculty</label>
    </li>
    <li id="li-for-panel-3">
      <label class="panel-label" for="panel-3-ctrl">Industry Person</label>
    </li>
    <label id="close-nav-label" for="nav-ctrl">Close</label>
  </ul>

  <!-- THE PANELS -->
  <article id="panels">
    <div class="container">
      <section id="panel-1">
        <main>
          <div class="contact-form-wrapper">
        <form method="post" enctype="text/plain">
          <div class="form-item">
            <input type="text" name="f-name" required placeholder="First Name">
          </div>
          <div class="form-item">
            <input type="text" name="l-name" required placeholder="Last Name">
          </div>
          <div class="form-item">
            <input type="text" name="email" required placeholder="Email">
          </div>
          <div class="form-item">
            <input type="text" name="phone" required placeholder="Phone No.">
          </div>
          <div class="filter-dd-style">
            <select class="form-select" id="dropdown-basic">
              <option selected>Select Qualification</option>
              <option>Diploma</option>
              <option>Graduate</option>
              <option>PG</option>
              <option>UG</option>
            </select>
          </div>
          <div class="form-item">
            <input type="text" name="address" required placeholder="Address">
          </div>
          <div class="form-item">
            <input type="text" name="country" required placeholder="Country">
          </div>
          <div class="form-item">
            <input type="text" name="pin-code" required placeholder="Pin Code">
          </div>
          <div class="form-item">
            <input type="text" name="institute" required placeholder="Institute Name">
          </div>
          <div class="form-item">
            <input type="text" name="yoc" required placeholder="Year Of Completion">
          </div>
          <div class="form-item">
            <input type="text" name="password" required placeholder="Password">
          </div>
          <button class="submit-btn">Send</button>
        </form>
      </div>
        </main>
      </section>
      <section id="panel-2">
        <main>
          <div class="contact-form-wrapper">
        <form method="post" enctype="text/plain">
          <div class="form-item">
            <input type="text" name="f-name" required placeholder="First Name">
          </div>
          <div class="form-item">
            <input type="text" name="l-name" required placeholder="Last Name">
          </div>
          <div class="form-item">
            <input type="text" name="email" required placeholder="Email">
          </div>
          <div class="form-item">
            <input type="text" name="phone" required placeholder="Phone No.">
          </div>
          <div class="filter-dd-style">
            <select class="form-select" id="dropdown-basic">
              <option selected>Select Qualification</option>
              <option>Diploma</option>
              <option>Graduate</option>
              <option>PG</option>
              <option>UG</option>
            </select>
          </div>
          <div class="form-item">
            <input type="text" name="address" required placeholder="Address">
          </div>
          <div class="form-item">
            <input type="text" name="country" required placeholder="Country">
          </div>
          <div class="form-item">
            <input type="text" name="pin-code" required placeholder="Pin Code">
          </div>
          <div class="form-item">
            <input type="text" name="institute" required placeholder="Institute Name">
          </div>
          <div class="form-item">
            <input type="text" name="yoc" required placeholder="Year Of Completion">
          </div>
          <div class="form-item">
            <input type="text" name="password" required placeholder="Password">
          </div>
          <button class="submit-btn">Send</button>
        </form>
      </div>
        </main>
      </section>
      <section id="panel-3">
        <main>
          <div class="contact-form-wrapper">
        <form method="post" enctype="text/plain">
          <div class="form-item">
            <input type="text" name="f-name" required placeholder="First Name">
          </div>
          <div class="form-item">
            <input type="text" name="l-name" required placeholder=" Last Name">
          </div>
          <div class="form-item">
            <input type="text" name="email" required placeholder="Email">
          </div>
          <div class="form-item">
            <input type="text" name="phone" required placeholder="Phone No.">
          </div>
          <div class="filter-dd-style">
            <select class="form-select" id="dropdown-basic">
              <option selected>Select Qualification</option>
              <option>Diploma</option>
              <option>Graduate</option>
              <option>PG</option>
              <option>UG</option>
            </select>
          </div>
          <div class="form-item">
            <input type="text" name="address" required placeholder="Address">
          </div>
          <div class="form-item">
            <input type="text" name="country" required placeholder="Country">
          </div>
          <div class="form-item">
            <input type="text" name="pin-code" required placeholder="Pin Code">
          </div>
          <div class="form-item">
            <input type="text" name="institute" required placeholder="Institute Name">
          </div>
          <div class="form-item">
            <input type="text" name="yoc" required placeholder="Year Of Completion">
          </div>
          <div class="form-item">
            <input type="text" name="password" required placeholder="Password">
          </div>
          <button class="submit-btn">Send</button>
        </form>
      </div>
        </main>
      </section>
    </div>
  </article>
</body>

</html>
