<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/form-design.css">
  <title>Register Your Idea</title>
</head>

<body>
  <input id="panel-1-ctrl" class="panel-radios toggle-radio" type="radio" name="tab-radios" checked>
  <input id="panel-2-ctrl" class="panel-radios toggle-radio" type="radio" name="tab-radios">
  <input id="panel-3-ctrl" class="panel-radios toggle-radio" type="radio" name="tab-radios">
  <input id="nav-ctrl" class="panel-radios" type="checkbox" name="nav-checkbox">

  </header>

  <!-- TABS LIST -->
  <ul id="tabs-list">
    <!-- MENU TOGGLE -->
    <label id="open-nav-label" for="nav-ctrl"></label>
    <li id="li-for-panel-1">
      <label class="panel-label" for="panel-1-ctrl">Student</label>
    </li>
    <li id="li-for-panel-2">
      <label class="panel-label" for="panel-2-ctrl">Faculty</label>
    </li>
    <li id="li-for-panel-3">
      <label class="panel-label" for="panel-3-ctrl">Industry Person</label>
    </li>
    <label id="close-nav-label" for="nav-ctrl">Close</label>
  </ul>

  <!-- THE PANELS -->
  <article id="panels">
    <div class="container">
      <section id="panel-1">
        <main>
          <div class="contact-form-wrapper">



        <form action="/student" method="post" >
          <div class="form-item">
            <input type="text" name="first" required placeholder="First Name">
          </div>
          <div class="form-item">
            <input type="text" name="last" required placeholder="Last Name">
          </div>
          <div class="form-item">
            <input type="text" name="email" required placeholder="Email">
          </div>
          
            
          <input type="submit" value="Submit">
        </form>


      </div>
        </main>
      </section>
      <section id="panel-2">
        <main>
          <div class="contact-form-wrapper">



        <form action="/faculty" method="post" >
          <div class="form-item">
            <input type="text" name="first" required placeholder="First Name">
          </div>
          <div class="form-item">
            <input type="text" name="last" required placeholder="Last Name">
          </div>
          <div class="form-item">
            <input type="text" name="email" required placeholder="Email">
          </div>
          
          <input type="submit" value="submit">
        </form>



      </div>
        </main>
      </section>
      <section id="panel-3">
        <main>
          <div class="contact-form-wrapper">




        <form action="/industryperson" method="post" >
          <div class="form-item">
            <input type="text" name="first" required placeholder="First Name">
          </div>
          <div class="form-item">
            <input type="text" name="last" required placeholder=" Last Name">
          </div>
          <div class="form-item">
            <input type="text" name="email" required placeholder="Email">
          </div>
          
         <input type="submit" value="submit">
        </form>


        
      </div>
        </main>
      </section>
    </div>
  </article>
</body>

</html>
