@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400|Inconsolata);
 ul#tabs-list {
	 list-style: none;
	 text-align: center;
	 border-bottom: 1px solid #dfdfdf;
	 margin: 0;
	 padding: 0;
}
 label.panel-label {
	 user-select: none;
	 display: block;
	 width: 100%;
	 color: #bdc3c7;
	 cursor: pointer;
	 background-color: #ecf0f1;
	 transition-property: background-color, color;
	 transition-duration: 200ms;
}
.toggle-radio {
    display: none;
}
 label.panel-label:hover {
	 color: #892985;
	 background-color: #bdc3c7;
}
 #panels {
	 background-color: white;
}
 #panels .container {
	 margin: 0 auto;
	 width: 90%;
}
 #panels section header label.panel-label {
	 padding: 12px 24px;
	 box-sizing: border-box;
}
 #panels section main {
	 box-sizing: border-box;
	 max-height: 0;
	 opacity: 0;
	 transition: opacity 600ms;
	 overflow-y: hidden;
}
 #panel-1-ctrl:checked ~ #panels #panel-1 main {
	 max-height: initial;
	 opacity: 1;
	 padding: 48px 24px;
}
 #panel-2-ctrl:checked ~ #panels #panel-2 main {
	 max-height: initial;
	 opacity: 1;
	 padding: 48px 24px;
}
 #panel-3-ctrl:checked ~ #panels #panel-3 main {
	 max-height: initial;
	 opacity: 1;
	 padding: 48px 24px;
}
 @media all and (max-width: 767px) {
	 #nav-ctrl:checked ~ #tabs-list #li-for-panel-1 {
		 max-height: 46px;
		 opacity: 1;
	}
	 #nav-ctrl:checked ~ #tabs-list #li-for-panel-2 {
		 max-height: 46px;
		 opacity: 1;
	}
	 #nav-ctrl:checked ~ #tabs-list #li-for-panel-3 {
		 max-height: 46px;
		 opacity: 1;
	}
	 #nav-ctrl:checked ~ #tabs-list #li-for-panel-4 {
		 max-height: 46px;
		 opacity: 1;
	}
	 #nav-ctrl:checked ~ #tabs-list #li-for-panel-5 {
		 max-height: 46px;
		 opacity: 1;
	}
	 #open-nav-label {
		 display: block;
		 position: absolute;
		 top: 0;
		 right: 0;
		 bottom: 0;
		 left: 0;
		 cursor: pointer;
	}
	 #nav-ctrl:checked ~ #tabs-list #open-nav-label {
		 display: none;
	}
	 #close-nav-label {
		 display: block;
		 max-height: 0;
		 overflow-y: hidden;
		 background-color: #444;
		 color: #ecf0f1;
		 padding: 0px;
		 transition: max-height 200ms;
		 cursor: pointer;
		 text-transform: uppercase;
		 font-size: 12px;
		 line-height: 22px;
		 letter-spacing: 1px;
	}
	 #nav-ctrl:checked ~ #tabs-list #close-nav-label {
		 max-height: 36px;
		 opacity: 1;
		 padding: 12px 24px;
	}
	 #tabs-list {
		 position: relative;
	}
	 #tabs-list label.panel-label {
		 padding: 12px 0;
	}
	 #tabs-list #li-for-panel-1 {
		 max-height: 0;
		 overflow-y: hidden;
		 transition: max-height 200ms;
	}
	 #tabs-list #li-for-panel-2 {
		 max-height: 0;
		 overflow-y: hidden;
		 transition: max-height 200ms;
	}
	 #tabs-list #li-for-panel-3 {
		 max-height: 0;
		 overflow-y: hidden;
		 transition: max-height 200ms;
	}
	 #tabs-list #li-for-panel-4 {
		 max-height: 0;
		 overflow-y: hidden;
		 transition: max-height 200ms;
	}
	 #tabs-list #li-for-panel-5 {
		 max-height: 0;
		 overflow-y: hidden;
		 transition: max-height 200ms;
	}
	 #panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1 {
		 max-height: 46px;
		 opacity: 1;
	}
	 #panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1 label.panel-label {
		 background-color: white;
		 color: #892985;
		 background-color: #892985;
		 color: white;
	}
	 #panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2 {
		 max-height: 46px;
		 opacity: 1;
	}
	 #panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2 label.panel-label {
		 background-color: white;
		 color: #892985;
		 background-color: #892985;
		 color: white;
	}
	 #panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3 {
		 max-height: 46px;
		 opacity: 1;
	}
	 #panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3 label.panel-label {
		 background-color: white;
		 color: #892985;
		 background-color: #892985;
		 color: white;
	}
	 #panels .container {
		 width: 100%;
	}
	 #panels section header {
		 display: block;
	}
}
 @media all and (min-width: 768px) {
	 #panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1 {
		 pointer-events: none;
		 cursor: default;
		 transform: translate3d(0, 1px, 0);
		 box-shadow: none;
		 border-right: none;
	}
	 #panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1.last {
		 border-right: 1px solid transparent;
	}
	 #panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1 + li {
		 border-left: 1px solid #dfdfdf;
	}
	 #panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1 label.panel-label {
		 background-color: white;
		 color: #892985;
		 padding-top: 26px;
	}
	 #panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1 label.panel-label::after {
		 height: 6px;
	}
	 #panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2 {
		 pointer-events: none;
		 cursor: default;
		 transform: translate3d(0, 1px, 0);
		 box-shadow: none;
		 border-right: none;
	}
	 #panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2.last {
		 border-right: 1px solid transparent;
	}
	 #panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2 + li {
		 border-left: 1px solid #dfdfdf;
	}
	 #panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2 label.panel-label {
		 background-color: white;
		 color: #892985;
		 padding-top: 26px;
	}
	 #panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2 label.panel-label::after {
		 height: 6px;
	}
	 #panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3 {
		 pointer-events: none;
		 cursor: default;
		 transform: translate3d(0, 1px, 0);
		 box-shadow: none;
		 border-right: none;
	}
	 #panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3.last {
		 border-right: 1px solid transparent;
	}
	 #panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3 + li {
		 border-left: 1px solid #dfdfdf;
	}
	 #panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3 label.panel-label {
		 background-color: white;
		 color: #892985;
		 padding-top: 26px;
	}
	 #panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3 label.panel-label::after {
		 height: 6px;
	}
	 ul#tabs-list {
		 text-align: center;
		 border-bottom: 1px solid #dfdfdf;
	}
	 ul#tabs-list li {
		 display: inline-block;
		 text-align: center;
		 font-size: 0.875em;
		 width: 18%;
		 box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.05);
		 border-right: 1px solid #dfdfdf;
		 position: relative;
	}
	 ul#tabs-list li:hover {
		 transition: none;
		 border-right: none;
	}
	 ul#tabs-list li:hover.last {
		 border-right: 1px solid transparent;
	}
	 ul#tabs-list li:hover + li {
		 border-left: 1px solid #dfdfdf;
	}
	 ul#tabs-list li label.panel-label {
		 position: relative;
		 padding: 24px 0;
	}
	 ul#tabs-list li label.panel-label::after {
		 content: "";
		 position: absolute;
		 width: 100%;
		 left: 0;
		 bottom: 100%;
		 background-color: #892985;
		 height: 0;
		 transition-property: height;
		 transition-duration: 200ms;
	}
	 ul#tabs-list li label.panel-label:hover {
		 padding-top: 25px;
	}
	 ul#tabs-list li label.panel-label:hover::after {
		 height: 6px;
	}
	 #open-nav-label, #close-nav-label {
		 display: none;
	}
	 #nav-ctrl {
		 display: none;
	}
}
 @media all and (min-width: 900px) {
	 main {
		 width: 70%;
		 margin: 0 auto;
	}
}
 .panel-radios {
	 position: fixed;
	 left: 50%;
	 top: 10px;
	 width: 20px;
	 opacity: 0.5;
	 z-index: 99;
}
 .panel-radios:nth-child(1) {
	 transform: translateX(-50px);
}
 .panel-radios:nth-child(2) {
	 transform: translateX(-30px);
}
 .panel-radios:nth-child(3) {
	 transform: translateX(-10px);
}
 body {
	 background: #892985;
	 color: #444;
	 font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
}
 #introduction {
	 width: 90%;
	 margin: 0 auto;
	 padding: 48px 24px;
	 color: white;
}
 #introduction h1 {
	 font-weight: 300;
	 text-align: center;
}
 main h1 {
	 margin-top: 0;
	 font-weight: 300;
	 color: #892985;
}
 main p {
	 line-height: 1.8;
}
 main hr {
	 margin: 12px 0;
	 border-top: 1px solid #dfdfdf;
}
 label.demo-label {
	 background-color: #892985;
	 color: white;
	 padding: 4px 8px;
	 border-radius: 2px;
	 cursor: pointer;
	 display: inline-block;
	 user-select: none;
}
 label.demo-label:hover {
	 background-color: #e74c3c;
}
 #demo-child-toggle {
	 display: none;
}
 #demo-child-toggle:checked ~ #demo-parent #demo-child {
	 color: #892985;
	 font-weight: bold;
	 text-transform: uppercase;
}
 #demo-parent {
	 margin-top: 8px;
}
 code, pre {
	 color: #892985;
	 font-family: Inconsolata, "Andale Mono", Andale, monowidth;
	 background-color: #ecf0f1;
	 border: 1px solid #dfdfdf;
	 border-radius: 2px;
}
 code {
	 padding: 2px 6px;
}
 pre {
	 padding: 12px;
	 line-height: 1.6;
}
 pre strong {
	 color: #444;
	 font-weight: normal;
}
 
  .contact-form-wrapper .right-head
  {
	color: #892985;
	text-shadow: none;
	font-family: 'Bebas Neue', cursive;
	font-size: 2.5rem;
  }         
  .contact-box {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
	width: clamp(100px, 90%, 1000px);
	margin: 80px 50px;
	display: flex;
	flex-wrap: wrap;
	border-radius: 10px;
  }
  
  .contact-links, .contact-form-wrapper {
	width: 50%;
	padding: 8% 5% 10% 5%;
  }
  .contact-form-wrapper .form-item
  {
	width: 100%;
	margin-bottom: 20px;
  }
  .contact-form-wrapper input, textarea{
	width:200%;
	padding: 5px 10px;
	outline: none;
	border-radius: 5px;
	border: 1px solid #787878;
  }
  .submit-btn
  {
	padding: 10px 20px;
	background-color: #892985;
	border-radius: 5px;
	border: 2px solid #892985;
	color: white;
	cursor: pointer;
  }
  .submit-btn:hover
  {
	border: 2px solid black;
	background-color: transparent;
	color: #000;
  }
  
  
  .contact-links {
	background:
	  radial-gradient(
		circle at 55% 92%, #892985 0 12%, transparent 12.2%
	  ), 
	  radial-gradient(
		circle at 94% 72%, #892985 0 10%, transparent 10.2%
	  ), 
	  radial-gradient(
		circle at 20% max(78%, 350px), #892985 0 7%, transparent 7.2%
	  ), 
	  radial-gradient(
		circle at 0% 0%, #892985 0 40%, transparent 40.2%
	  ), 
	  #892985;
	border-radius: 10px 0 0 10px;
  }
  
  .contact-form-wrapper {
	background-color: #fe8ffa;
	border-radius: 5px 5px;
	display: flex;
	align-items: center;
	justify-self: center;
	width: 80%;
  }
  .links .link a
  {
	font-size: 2.5rem;
	color:white;
	text-decoration: none;
  }


  .filters h1 {
    font-size: 1.5rem;
    margin-top: 20px;
    font-weight: 700;
}

.filter-dd-style {
    margin-top: 10px;
}

#dropdown-basic {
    width: 212%;
	height: 30px;
    background-color: #fff;
	border-radius: 5px;
	border: 1px solid #787878;
	color: #787878;
    padding-right: 10px;
    color: #000;
    cursor: pointer;
	margin-bottom: 10px;
}

#dropdown-basic option {
    background-color: #fff;
    color: #000;
    font-size: 12px;
}